.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.todoWrap {
  width: 450px;
  background-color: var(--color-bg-dark);
  border-radius: 15px;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-gray);
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.header ul li{
  margin-left: 30px;
}
.header ul li button {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-accent);
  cursor: pointer;
  background-color: var(--color-bg-dark);
  border:none;
  padding: 0;
}

.header .mode {
  font-size: 25px;
  color:  var(--color-accent);
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
section ul {
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  display: block;
  background-color:var(--color-bg);
  transition: 0.5s;
}
section ul li {
  color: var(--color-text);
  letter-spacing: 0.3px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  position: relative;
  border: 1px solid var(--color-text)
}
input[type="checkbox"]:checked {
  border-color: transparent;
  background-color: var(--color-accent);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-size: 120% 120%;
  background-position: 50%;
  background-repeat: no-repeat;
}
input[type="checkbox"]:hover {
  accent-color: var(--color-accent);
}
input[type="checkbox"]:checked + .label {
  text-decoration: line-through;
  color: #888;
}
.label {
  flex: 1 1 0%;
  margin-left: 0.5rem;
  font-size: 18px;
}
.icon {
  color: var(--color-text);
}
.btn1:hover {
  background-color: var(--color-accent);
  transform: rotate(15deg) scale(1.2);
}
.btn1:hover .icon{
  color: var(--color-white);
}
.btn1 {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border:none;
  background-color: var(--color-bg-dark);
  transition: all .2s ease-out;
}
.addForm {
  background-color: var(--color-bg-dark);
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  display: flex;
  padding: 1.4rem 1rem;
}
.addForm input {
  flex: 1 0 auto;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
  outline: none;
  border: none;
  background-color: var(--color-white);
  padding: 0.7rem 1rem;
  font-size: 1rem;
}
.addForm button {
  cursor: pointer;
  padding: 0 2rem;
  background-color: var(--color-accent);
  border: none;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-white);
}

.addForm button:hover {
  filter: brightness(125%);
}